<div>
    <form name="biz_CardInfoCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.biz_CardInfo.id">编辑信息:{{vm.biz_CardInfo.name}}</span>
                <span ng-if="!vm.biz_CardInfo.id">新增信息</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" ng-class="{'edited':vm.biz_CardInfo.idCard}"  ng-model="vm.biz_CardInfo.idCard"/>
                <label>身份证号</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input auto-focus class="form-control" ng-class="{'edited':vm.biz_CardInfo.realName}"  ng-model="vm.biz_CardInfo.realName"/>
                <label>姓名</label>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>